.error{
    color: black;
    font-weight: bold;

    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid red;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.error p{
    order: 0;



}

.error img{
    order: 1;

    cursor: pointer;
}


